// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#log_title {
  height:1.3em;
  line-height:1.3em;
  font-size: xx-large;
  width:  100%;
}

.datetime-container {
  min-width: 200px;
}
