<h1>Listing logs</h1>
<table>
  <thead>
  <tr>
    <th>Created</th>
    <th>Title</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <%= render :partial => 'log', collection: logs %>
  </tbody>
</table>