<h1>Listing logs</h1>
<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>Created</th>
    <th>Title</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% logs_today = logs.group_by {|l|l.created_at.in_time_zone.today?.to_s.to_sym } %>
    <tr>
      <th colspan="3">Today</th>
    </tr>
    <%= render :partial => 'log', collection: logs_today[:true] %>
    <tr>
      <th colspan="3">Earlier</th>
    </tr>
    <%= render :partial => 'log', collection: logs_today[:false] %>
  </tbody>
</table>
