<tr>
  <td class="datetime-container"><%= log.created_at.in_time_zone %></td>
  <td>
    <%= raw replace_labels log.title, filter_label_name %>
  </td>
  <td>
    <%= link_to raw('<i class="glyphicon glyphicon-remove"></i>'), log, confirm: 'Are you sure?', method: :delete %>
  </td>
</tr>
