<% if @logs.empty? %>
    <div class="alert alert-info">
      <strong>Nothing to show!</strong> Log somethig by typing something in upwards field, followed by hitting enter
    </div>
<% else %>
    <%= render :partial => 'listing', locals: {logs: @logs} %>
<% end %>
