<%= form_for(@new_log) do |f| %>
    <%= f.text_field :title, placeholder: "Type something to log..." %>
<% end %>

<% if @logs.empty? %>
    <p>Nothing to show. Log somethig by typing something in upwards field, followed by hitting enter</p>
<% else %>
    <%= render :partial => 'listing', locals: {logs: @logs} %>
<% end %>
